
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="index.html#">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <i class="icon-large icon-github"></i>
        </ul>
   




     

      <a class="facebook" title="_blank" target="_blank" href="https://github.com/login" target="_blank" >
            <img src="/assets/github.jpg" height="55" width="95" border="0" >
            </img>
        </a>

  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  